@mainColor : rgb(99, 159, 226);
@lessMainColor: #ff692d;

@import "search";
@import "left";
@import "right";
@import "navcontainer";

@media (min-width: 768px) {
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    .content-container{
      background-color: rgba(255, 242, 213, 0.92);
      .left{
        z-index: 2;
        box-shadow: 7px -1px 26px -3px rgba(161, 48, 33, 0.36);
      }
    }
  }

}