.aright{
  height: 100%;

  #content{
    background-color: rgb(255, 208, 170);
    border: 5px solid rgba(250, 230, 179, 0.7);
    border-radius: 20px;
    position: center;
    margin-left: 15%;
    padding-top: 15%;
    height: 100%;
    width: 70%;
  }
}
.navbar-brand-reg{

}

#right{
  height: 80%;
  width: 40%;
  position: fixed;
  bottom: -65px;
  right: -85px;
}
#left{
  height: 80%;
  width: 40%;
  position: fixed;
  bottom: -35px;
  left: 10px;
}
#right1{
   height: 600px;
   width: 600px;
   position: fixed;
   top: -245px;
   right: -155px;
 }
#left1{
  height: 300px;
  width: 300px;
  position: fixed;
  top: -25px;
  left: 70px;
}