.search{
  #search-btn {
    cursor:pointer;
    position: absolute;
    top: 95px;
    right: 65px;
    width: 10px;
    height: 20px;
    color: @lessMainColor;
    .fa-search{
      width:25px;
      height:25px;
    }
  }
  #plus-btn {
    cursor:pointer;
    position: relative;
    left: 265px;
    top: -40px;
    color: @lessMainColor;
    .fa-plus {
      width: 20px;
      height: 20px;
    }
  }
  #search-txt {
    color: @lessMainColor;
    position: relative;
    left: 10px;
    top: 10px;
    height: 40px;
    width: 250px;
    border-radius: 20px;
    border-style: none;
    outline: none;

    padding-right: 1px;
    padding-left: 1px;

    margin: 10px;

    text-align: center;
  }
}

#city-template{
  color: darken(@mainColor, 40%);

  .remove{
    position: relative;
    left: 100px;
  }
}