<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Weather</title>

    <!-- Bootsrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <!-- LESS основний файл -->
    <link rel="stylesheet/less" type="text/css" href="assets/less/main.less" />
    <!-- LESS JavaScript компілятор -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu8EfHXfhweZE-W19Uo2d_UIFrmKvOeMo&sensor=false&libraries=places"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-lg-3 navbar-container">
            <!-- Вертикальное меню -->
            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand" href="./index.html">
                    <span>Weather in </span><b id="city"></b>
                    <img alt="Brand" width="30" height="30" src="assets/images/cloud_weathe_sun_icon-icons.com_51096.png">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                    <!-- Пункты вертикального меню -->
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <div class="search">
                                <input type="text" placeholder="Add a city" id="search-txt" autocomplete="on">
                                <a class="nav-link" id="search-btn">
                                    <i class="fas fa-search"></i>
                                </a>
                                <a class="nav-link" id="plus-btn">
                                    <i class="fas fa-plus"></i>
                                </a>
                            </div>
                        </li>
                        <li class="nav-item" id="city-template" style="display:none">
                            <a class="nav-link"></a>
                            <span class="latitude" style="display:none"></span>
                            <span class="longitude" style="display:none"></span>
                            <a class="remove">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </li>
                        <li class="nav-item myloc">
                            <a class="nav-link" id="my-loc" href="#">My location</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="col-md-8 col-lg-9 content-container">
            <div class="row">
                <div class="col-md-4 left">
                    <a class="sign_up" href="./register.html">Sign up</a>
                    <div id="weather">
                        <div class="city-icon">
                            <div id="city-name"></div>
                            <img src="" alt="" id="icon">
                        </div>
                        <div id="temperature"></div>
                        <div id="pressure"></div>
                        <div id="humidity"></div>
                        <div id="cloudiness"></div>
                        <div id="wind"></div>
                        <div id="sunrise"></div>
                        <div id="sunset"></div>
                    </div>
                    <img id="head" src="assets/images/хмарки.png">
                    <img id="foot"  src="assets/images/хмара.png">
                </div>
                <div class="col-md-8 right">
                    <div class="row closet">
                        <div class="col-md-9">
                            <div id="clothes">
                                <img src="assets/images/манекен.png">
                            </div>
                        </div>
                        <div class="col-md-1 choose">
                            <div class="button-shirt">
                                <button onclick="toggle(block_with_shirt)" class="btn btn-default shirt">Shirt</button>
                                <div class="block_with row" id="block_with_shirt" style="display: none;">
                                    <a href="#" class="thumbnail">
                                        <img>
                                    </a>
                                    <a href="#" class="thumbnail">
                                        <img>
                                    </a>
                                    <a href="#" class="thumbnail">
                                        <img>
                                    </a>
                                </div>
                                <script>
                                    function toggle(el) {
                                        el.style.display = (el.style.display == 'none') ? '' : 'none'
                                    }
                                </script>
                            </div>
                            <div class="button-pants">
                                <button onclick="toggle(block_with_pants)" class="btn btn-default pants">Pants</button>
                                <div class="block_with row" id="block_with_pants" style="display: none;">
                                    <a href="#" class="thumbnail">
                                        <img>
                                    </a>
                                    <a href="#" class="thumbnail">
                                        <img>
                                    </a>
                                    <a href="#" class="thumbnail">
                                        <img>
                                    </a>
                                </div>
                                <script>
                                    function toggle(el) {
                                        el.style.display = (el.style.display == 'none') ? '' : 'none'
                                    }
                                </script>
                            </div>
                            <div class="button-skirt">
                                <button onclick="toggle(block_with_skirt)" class="btn btn-default skirt">Skirt</button>
                                <div class="block_with row" id="block_with_skirt" style="display: none;">
                                    <a href="#" class="thumbnail">
                                        <img>
                                    </a>
                                    <a href="#" class="thumbnail">
                                        <img>
                                    </a>
                                    <a href="#" class="thumbnail">
                                        <img>
                                    </a>
                                </div>
                                <script>
                                    function toggle(el) {
                                        el.style.display = (el.style.display == 'none') ? '' : 'none'
                                    }
                                </script>
                            </div>
                            <div class="button-outerwear">
                                <button onclick="toggle(block_with_outerwear)" class="btn btn-default outerwear">Outerwear</button>
                                <div class="block_with row" id="block_with_outerwear" style="display: none;">
                                    <a href="#" class="thumbnail">
                                        <img>
                                    </a>
                                    <a href="#" class="thumbnail">
                                        <img>
                                    </a>
                                    <a href="#" class="thumbnail">
                                        <img>
                                    </a>
                                </div>
                                <script>
                                    function toggle(el) {
                                        el.style.display = (el.style.display == 'none') ? '' : 'none'
                                    }
                                </script>
                            </div>
                            <div class="button-shoes">
                                <button onclick="toggle(block_with_shoes)" class="btn btn-default shoes">Shoes</button>
                                <div class="block_with row" id="block_with_shoes" style="display: none;">
                                    <a href="#" class="thumbnail">
                                        <img>
                                    </a>
                                    <a href="#" class="thumbnail">
                                        <img>
                                    </a>
                                    <a href="#" class="thumbnail">
                                        <img>
                                    </a>
                                </div>
                                <script>
                                    function toggle(el) {
                                        el.style.display = (el.style.display == 'none') ? '' : 'none'
                                    }
                                </script>
                            </div>
                            <div class="button-accessories">
                                <button onclick="toggle(block_with_accessories)" class="btn btn-default accessories">Accessories</button>
                                <div class="block_with row" id="block_with_accessories" style="display: none;">
                                    <a href="#" class="thumbnail">
                                        <img>
                                    </a>
                                    <a href="#" class="thumbnail">
                                        <img>
                                    </a>
                                    <a href="#" class="thumbnail">
                                        <img>
                                    </a>
                                </div>
                                <script>
                                    function toggle(el) {
                                        el.style.display = (el.style.display == 'none') ? '' : 'none'
                                    }
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src='https://use.fontawesome.com/releases/v5.0.13/js/all.js'></script>
<!-- jQuery JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"> </script>
<!--Bootsrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<!--Own JavaScript -->
<script type="text/javascript"  src="assets/js/main.js"> </script>
<script type="text/javascript"  src="assets/js/index.js"> </script>
</body>
</html>